<section class="post-like-users-list">
  <div class="post-like-user-list-item">
    <h2>投稿にいいねしたユーザー一覧</h2>
  </div>
  <div class="user-list-group">
    <div class="row d-flex justify-content-center">
      <div class ="col-md-6">
        <ul class="list-group">
          <% @likes_users.each do |user| %>
            <li class="list-group-item">
              <%= link_to user_path(user), {class: "link"} do %>
                <% if user.avatar.attached? %>
                  <%= image_tag user.avatar.variant(gravity: :center, resize:"40x40^", crop:"40x40+0+0").processed, {class: "avatar"} %>
                <% else %>
                  <%= image_tag("default_user.jpg", size: "40x40", class: "avatar") %>
                <% end %>
                <%= user.username %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>