<section class="home">
  <div class="home-item">
    <h1>自炊ログへようこそ</h1>
    <p>自炊ログは、自炊記録を簡単に管理し、<br>無理なく自炊を習慣化するためのWebサービスです。<br></p>
  <div>
  <% unless user_signed_in? %>
  <div class="home-button-wrapper">
    <div class="home-button">
      <%= link_to 'サインアップ', new_user_registration_path, class: "btn btn-warning link", role: "button" %>
      <%= link_to 'ログイン', new_user_session_path, class: "btn btn-warning link", role: "button" %>
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-warning link", role: "button" %>
    </div>
  </div>
  <% end %>
</section>