@import "~bootstrap/scss/bootstrap.scss";
@import '@fortawesome/fontawesome-free/scss/fontawesome';

/* 全体 */
body {
  background-color: #FCF4E3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.link {
  text-decoration: none;
}

/*フッター*/
footer {
  height: 50px;
  width: 100%;
}

.footer {
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-size: 15px;
  margin: 0;
}

/* いいねの色 */

.like-link {
  text-decoration: none;
}

.like-btn {
  font-size: 15px;
  color: #e54747;
}
 
.unlike-btn {
  font-size: 15px;
  color: #808080;
}

/* アイコン画像について */
.avatar {
  border-radius: 50%;
}

/* 文字について */
h1 {
  font-size: 45px;
}
p {
  font-size: 20px;
}

/* サインアップ */
.user-sign-up {
  padding-bottom: 50px;
}

.user-sign-up-item {
  padding: 50px 0px;
  text-align: center;
}

/* サインイン */
.user-sign-in {
  padding-bottom: 50px;
}

.user-sign-in-item {
  padding: 50px 0px;
  text-align: center;
}

/* ユーザー編集ページ */
.user-edit {
  padding-bottom: 50px;
}

.user-edit-item {
  padding: 50px 0px;
  text-align: center;
}

.user-cancel {
  padding-bottom: 50px;
}

.user-cancel-item {
  padding: 50px 0px;
  text-align: center;
}

/* ホーム */
.home {
  padding: 200px 0px;
}

.home-item {
  text-align: center;
}

.home-start-servise-button {
  padding-top: 50px;
}

/* プロフィール */
.profile {
  padding-bottom: 50px;
}

.profile-item {
  padding: 50px 0px;
  text-align: center;
}

.profile-content {
  margin-bottom: 20px;
}

.post-user-index-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* 投稿一覧 */
.post-index {
  padding-bottom: 50px;
}

.post-index-item {
  padding: 50px 0px;
  text-align: center;
}

.card {
  margin-bottom: 20px;
}

.post-index-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* 投稿詳細 */
.post-show {
  padding-bottom: 50px;
}

.post-show-item {
  padding: 50px 0px;
  text-align: center;
}

/* 新規投稿 */
.post-new {
  padding-bottom: 50px;
}

.post-new-item {
  padding: 50px 0px;
  text-align: center;
}

/* 投稿編集 */
.post-edit {
  padding-bottom: 50px;
}

.post-edit-item {
  padding: 50px 0px;
  text-align: center;
}

/* ユーザー一覧 */
.user-list {
  padding-bottom: 50px;
}

.user-list-item {
  padding: 50px 0px;
  text-align: center;
}

/* ユーザーがいいねした投稿一覧 */
.post-likes-index {
  padding-bottom: 50px;
}

.post-likes-index-item {
  padding: 50px 0px;
  text-align: center;
}

.post-likes-index-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* フォロー一覧 */
.users-following-list {
  padding-bottom: 50px;
}

.user-following-list-item {
  padding: 50px 0px;
  text-align: center;
}

/* フォロワー一覧 */
.users-follower-list {
  padding-bottom: 50px;
}

.user-follower-list-item {
  padding: 50px 0px;
  text-align: center;
}

/* いいねしたユーザー一覧 */
.post-like-users-list {
  padding-bottom: 50px;
}

.post-like-user-list-item {
  padding: 50px 0px;
  text-align: center;
}