@import "~bootstrap/scss/bootstrap.scss";
@import '@fortawesome/fontawesome-free/scss/fontawesome';

/* 全体 */
body {
  background-color: #FCF4E3;
}

/* トップページ */
.about {
  padding: 250px 0px;
}

.about-item {
  text-align: center;
}

.link {
  text-decoration: none;
}

/* いいね機能 */
.like-link {
  text-decoration: none;
}

.like-btn {
  font-size: 15px;
  color: #e54747;
}
 
.unlike-btn {
  font-size: 15px;
  color: #808080;
}